footer {
    height: 64px;
    background-color: #D5D4D8;
    margin: auto 0 0 0;
    padding: 0 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
}

footer img {
    width: 25px;
    height: 25px;
}